# Import Library

In [1]:
import pandas as pd
import numpy as np
import time

# Data Preparation

## Data Original
Random sampling

In [27]:
plat_jabar = pd.read_excel(r'sample_data.xlsx',sheet_name='data') # Adjust the directory
plat_jabar

,DAY,TANGGAL,SESI,NO PLAT,KODE_WILAYAH,NOMOR_KENDARAAN,KODE_BELAKANG,Wilayah,Lingkup
0,1,2024-07-19,PAGI,B 2831 FFO,B,2831,FFO,Kabupaten Bekasi,JABODETABEK
1,1,2024-07-19,PAGI,B 2701 FFM,B,2701,FFM,Kabupaten Bekasi,JABODETABEK
2,1,2024-07-19,PAGI,B 1784 EZR,B,1784,EZR,Kota Depok,JABODETABEK
3,1,2024-07-19,PAGI,B 1462 EML,B,1462,EML,Kota Depok,JABODETABEK
4,1,2024-07-19,PAGI,B 1242 ZKI,B,1242,ZKI,Kota Depok,JABODETABEK
5,1,2024-07-19,PAGI,B 2159 KBO,B,2159,KBO,Kota Bekasi,JABODETABEK
6,1,2024-07-19,PAGI,B 1985 ZUK,B,1985,ZUK,Kota Depok,JABODETABEK
7,1,2024-07-19,PAGI,F 1275 IB,F,1275,IB,Kabupaten Bogor,JABODETABEK
8,1,2024-07-19,PAGI,B 1066 EZW,B,1066,EZW,Kota Depok,JABODETABEK
9,1,2024-07-19,PAGI,F 1266 FBN,F,1266,FBN,Kabupaten Bogor,JABODETABEK

## Prewebscrape Data

In [20]:
# """Mencari lokasi plat daerah Jabar"""
# plat_jabar = data_plat.loc[data_plat['Wilayah'].isin(["Kota Depok", "Kabupaten Bekasi", "Kota Bekasi", "Kota Bogor", "Kabupaten Bogor"])]
# plat_jabar.reset_index(drop=True,inplace=True)

## Postwebscrape Data

In [28]:
col_names = ['Nomor Polisi', 'Warna KB', 'Merek', 'Model', 
             'Tgl. Jatuh tempo Pajak', 'Tgl. Akhir STNK', 
             'Tgl. Proses', 'Milik Ke -', 'PKB Pokok', 
             'PKB Denda', 'SWDKLLJ Pokok', 'SWDKLLJ Denda', 
             'PNBP STNK', 'PNBP TNKB', 'Total']

jabar_data = pd.DataFrame(columns=col_names)
# jabar_data = pd.read_excel("Data Plat Jabar.xlsx",sheet_name='Jabar_raw')
failed_data = pd.DataFrame(columns=['plat','error'])
# failed_data = pd.read_excel("Data Plat Jabar.xlsx",sheet_name='Error')

# Tools Preparation
## Tools for webscraping

In [32]:
web = "https://bapenda.jabarprov.go.id/infopkb/"
path = r"chromedriver.exe"
buster_path = r'buster.crx'

exported_filename = "Jabar.xlsx"
exported_main_sheetname = "Data Plat"
exported_error_sheetname = "Error"

# Webscraping Process

## Main Iteration

In [31]:
import Webscrape_Jabar
import importlib
importlib.reload(Webscrape_Jabar)


"""Import Class from Webscrape_Jakarta custom Library"""
objWeb = Webscrape_Jabar.WebscrapeSamsatJabar(
    df_prewebscrape=plat_jabar.iloc[:4,:],
    web=web,
    col_names_to_scrape=col_names,
    chrome_driver_path=path,
    buster_path=buster_path,
    filename=exported_filename,
    main_sheetname=exported_main_sheetname,
    error_sheetname=exported_error_sheetname,
    df_postwebscrape=jabar_data,
    df_failedwebscrape=failed_data
    )

"""Main Iteration Webscraping Process"""
objWeb.webscraping(objWeb.df_prewebscrape,nopol_col_id=3,kodedepan_col_id=4,kodetengah_col_id=5,kodebelakang_col_id=6,step=2)

"""Print Result"""
objWeb.df_postwebscrape

Message: session not created: This version of ChromeDriver only supports Chrome version 126
Current browser version is 128.0.6613.84 with binary path C:\Program Files\Google\Chrome\Application\chrome.exe
Stacktrace:
	GetHandleVerifier [0x00007FF7F474EEB2+31554]
	(No symbol) [0x00007FF7F46C7EE9]
	(No symbol) [0x00007FF7F458872A]
	(No symbol) [0x00007FF7F45C6ED2]
	(No symbol) [0x00007FF7F45C6008]
	(No symbol) [0x00007FF7F45BFCC8]
	(No symbol) [0x00007FF7F45BBB3B]
	(No symbol) [0x00007FF7F4608794]
	(No symbol) [0x00007FF7F4607DF0]
	(No symbol) [0x00007FF7F45FCDD3]
	(No symbol) [0x00007FF7F45CA33B]
	(No symbol) [0x00007FF7F45CAED1]
	GetHandleVerifier [0x00007FF7F4A58B2D+3217341]
	GetHandleVerifier [0x00007FF7F4AA5AF3+3532675]
	GetHandleVerifier [0x00007FF7F4A9B0F0+3489152]
	GetHandleVerifier [0x00007FF7F47FE786+750614]
	(No symbol) [0x00007FF7F46D376F]
	(No symbol) [0x00007FF7F46CEB24]
	(No symbol) [0x00007FF7F46CECB2]
	(No symbol) [0x00007FF7F46BE17F]
	BaseThreadInitThunk [0x00007FF97B4F257D+29]
	RtlUserThreadStart [0x00007FF97CF4AF28+40]

Empty DataFrame
Columns: [Nomor Polisi, Warna KB, Merek, Model, Tgl. Jatuh tempo Pajak, Tgl. Akhir STNK, Tgl. Proses, Milik Ke -, PKB Pokok, PKB Denda, SWDKLLJ Pokok, SWDKLLJ Denda, PNBP STNK, PNBP TNKB, Total]
Index: []

In [7]:
"""Print Error Awal"""
objWeb.df_failedwebscrape

         plat                                              error
0         NaN                                                NaN
1         NaN                                                NaN
2  B 1784 EZR  Message: \nStacktrace:\n\tGetHandleVerifier [0...
3  B 1784 EZR                            list index out of range

## Error Iteration
Repeat till satisfied

In [8]:
"""Webscraping Iteration of Error"""
objWeb.failed_iteration(exported_nopol_col_id=0,step=1)

"""Print result"""
objWeb.df_failedwebscrape

Failed data has 1 entry(ies)

100%|██████████| 1/1 [00:18<00:00, 18.87s/it]1/1 [00:17<00:00, 17.91s/it, errors=1]
Processing (Index: 0 -> 0): 100%|██████████| 1/1 [00:18<00:00, 18.88s/it, errors=1]

Empty DataFrame
Columns: [plat, error]
Index: []

## Finalization Webscrape Result

In [9]:
objWeb.finishing_data(exported_nopol_col_id=0,
                      final_filename="Jabar Final.xlsx",
                      final_sheetname="Final")

Final Data is saved in Jabar Final.xlsx!

,Nomor Polisi,Warna KB,Merek,Model,Tgl. Jatuh tempo Pajak,Tgl. Akhir STNK,Tgl. Proses,Milik Ke -,PKB Pokok,PKB Denda,SWDKLLJ Pokok,SWDKLLJ Denda,PNBP STNK,PNBP TNKB,Total
0,B 2831 FFO,PUTIH,TOYOTA,AGYA 1.2 G A/T,10 Des 2024,10 Des 2025,08 Agu 2024 15:13:29,1,2.241.800,0,143.0,0.0,0,0,2.384.800
1,B 2701 FFM,HITAM,TOYOTA,AGYA 1.2 G A/T,5 Agu 2022,5 Agu 2025,08 Agu 2024 15:13:36,1,6.725.400,1.703.900,429.0,235.0,0,0,9.093.300
2,B 1462 EML,HITAM METALIK,TOYOTA,KIJANG INNOVA G AT DIESEL (KUN40R-GKPDHD,24 Mei 2025,24 Mei 2026,08 Agu 2024 15:14:14,1,3.528.000,0,143.0,0.0,0,0,3.671.000